@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f0f9ff;
    height: 100vh;
    font-family: 'DynaPuff',ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #1f2937;
}